<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cura HealthCare">
	<listeners>
		<listener class-name="com.curahealthcare.utilities.Reporting">
			
		</listener>
		</listeners>
	<test name="Cura HealthCare Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.curahealthcare.testCases.TC_LoginPage_002" />


		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
